 {{!-- ben yazdim ve olusturdum bu dosyayi --}}
<section id="footer">
    <div class="container footer-container mt-5">
      <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 my-5 py-5 ">
        <div class=" col-md-4 mt-5 mt-md-0 ">
          <img src="/images/logo.png" alt="image">
          <p class="py-3">Vel non nibh vestibulum massa ullam corper bib endum ultrices venenatis, id id sed
            mass.</p>
        </div>
        <div class="col-md-7 offset-md-1 mt-5">
          <ul class="footer-nav list-unstyled ">
            <li class="nav-item me-2 mb-3">
              <a class="nav-link px-4" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item me-2 mb-3">
              <a class="nav-link px-4" href="/cars">Cars</a>
            </li>
            <li class="nav-item me-2 mb-3">
              <a class="nav-link px-4" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
      </footer>
    </div>
    <footer class="d-flex flex-wrap justify-content-between align-items-center border-top"></footer>

    <div class="container">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-2 pt-4">
        <div class="col-md-6 d-flex align-items-center">
          <p>© 2023 GoCar - All rights reserved</p>

        </div>
        <div class="col-md-6 d-flex align-items-center justify-content-end">
          <p class="">© 2023 Free Template By:<a href="https://templatesjungle.com/" class="website-link"
              target="_blank"> <b><u>TemplatesJungle</u></b></a></p>
        </div>

      </footer>
    </div>
  </section>