 {{!-- ben yazdim ve olusturdum bu dosyayi --}}
 <section id="hero" class=" position-relative overflow-hidden">
    <div class="pattern-overlay pattern-right position-absolute">
        <img src="/images/hero-pattern-right.png" alt="pattern">
    </div>
    <div class="pattern-overlay pattern-left position-absolute">
        <img src="/images/hero-pattern-left.png" alt="pattern">
    </div>
    <div class="container text-center py-5 mt-5">
        <div class="row my-5">
            <div class="d-flex flex-wrap flex-column justify-content-center align-items-center">
                <h2 class="page-title display-3 mt-5">{{title}}</h2>
                <nav class="breadcrumb">
                    <a class="breadcrumb-item" href="/">Home</a>
                    <span class="breadcrumb-item active" aria-current="page">{{title}}</span>
                </nav>
            </div>
        </div>
    </div>
</section>